{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}

{% block body %}
    <div class="header">
        <a href="planningGeneral.php">
            <img src="../img/arrowBack.png" alt="" class="">
        </a>
        <div class="logo">
            <img src="../img/logo-transparent-png.png" class="logoImg" alt="de" />
            <p>AccordEnergie</p>
        </div>
        <div class="search">
            <form action="" method="get">
                <input type="text" hidden name='table' value={{table}}>
                <input type="search" name="search" placeholder="recherche">
                <button type="submit">search</button>
            </form>
        </div> 
    </div>
    <div class="container">
        <div class="choix">
            <form method="POST" action="">
                <select name="table">
                    <option value="user" {% if table == 'user' %}selected{% endif %}>User</option>
                    <option value="categorie" {% if table == 'categorie' %}selected{% endif %}>Categorie</option>
                    <option value="urgence" {% if table == 'urgence' %}selected{% endif %}>Urgence</option>
                    <option value="status" {% if table == 'status' %}selected{% endif %}>Status</option>
                </select>
                <button type="submit">Changer de table</button>
            </form>
            <form method="POST" action="formAjout.php">
                <input  type="text" hidden
                    {% if table == 'user' %} value="user" {% endif %} 
                    {% if table == 'categorie' %} value="categorie" {% endif %} 
                    {% if table == 'urgence' %} value="urgence"{% endif %}
                    {% if table == 'status' %} value="status" {% endif %}
                />
                <button type="submit"> Ajouter </boutton>
            </form>
        </div>

        {% for data in datas %}
            {% if table == 'user' %}
                <div class="row">
                    <div class="c1">
                        <div class="rond">
                            <p>{{ data.nom|slice(0,1)|upper }}{{ data.prenom|slice(0,1)|upper }}</p>
                        </div>
                        <p>{{ data.nom }} {{ data.prenom }}</p>
                    </div>
                    <div class="c2">
                        <p>{{ data.email }}</p>
                    </div>
                    <div class="c2">
                        <form action="" method="post">
                            <input type="hidden" name="userId" value="{{ data.id_user }}">
                            <select name="newRole">
                                <option value="{{ data.role }}" selected>{{ data.role }}</option>
                                <option value="Admin">Admin</option>
                                <option value="Client">Client</option>
                                <option value="Standardiste">Standardiste</option>
                                <option value="Intervenant">Intervenant</option>
                            </select>
                            <button type="submit">></button>
                        </form>
                    </div>
                    <div class="c2">
                        <label class="switch">
                            <input type="checkbox" id="toggleSwitch">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <form action="" method="post">
                        <input type="text" hidden name="method" value="delete" />
                        <input type="text" hidden name="idCategorie" value={{data.id_user}} />
                        <div class="flex">
                            <button type="submit"><img src="/img/icons8-multiply-100.png" class="logoImg" alt="de" /></button>    
                        </div>
                    </form>
                </div>
            {% elseif table == 'categorie' %}
                <div class="row">
                    <div class="c4">
                        <p> Nom Categorie : {{ data.nomCategorie }}</p>
                    </div>
                    <div class="c4">
                        <form action="" method="post">
                            <input type="text" hidden name="method" value="edit" />
                            <input type="text" hidden name="idCategorie" value={{data.id_categorie}} />
                            <div class="flex">
                                <p> modification : </p>
                                <div class="barre">
                                    <input type="text" name="newCate" class="inputText"/> 
                                    <hr />
                                </div>
                            </div>
                            <div class="flex">
                                <button type="submit"><img src="/img/icons8-edit-file-100.png" class="logoImg" alt="de" /></button>    
                            </div>
                        </form>
                    </div>
                    <form action="" method="post">
                        <input type="text" hidden name="method" value="delete" />
                        <input type="text" hidden name="idCategorie" value={{data.id_categorie}} />
                        <div class="flex">
                            <button type="submit"><img src="/img/icons8-multiply-100.png" class="logoImg" alt="de" /></button>    
                        </div>
                    </form>
                </div>
            {% elseif table == 'status' %}
               <div class="row">
                    <div class="c4">
                        <p> Nom Statut : {{ data.nomStatut }}</p>
                    </div>
                    <div class="c4">
                        <form action="" method="post">
                            <input type="text" hidden name="method" value="edit" />
                            <input type="text" hidden name="idStatut" value={{data.id_statut}} />
                            <div class="flex">
                                <p> modification : </p>
                                <div class="barre">
                                    <input type="text" name="newStatus" class="inputText"/> 
                                    <hr />
                                </div>
                            </div>
                            <div class="flex">
                                <button type="submit"><img src="/img/icons8-edit-file-100.png" class="logoImg" alt="de" /></button>    
                            </div>
                        </form>
                    </div>
                    <form action="" method="post">
                        <input type="text" hidden name="method" value="delete" />
                        <input type="text" hidden name="idStatut" value={{data.id_statut}} />
                        <div class="flex">
                            <button type="submit"><img src="/img/icons8-multiply-100.png" class="logoImg" alt="de" /></button>    
                        </div>
                    </form>
                </div>
            {% elseif table == 'urgence' %}
               <div class="row">
                    <div class="c4">
                        <p> Nom Urgence : {{ data.nomUrgence }}</p>
                    </div>
                    <div class="c4">
                        <form action="" method="post">
                            <input type="text" hidden name="method" value="edit" />
                            <input type="text" hidden name="idUrgence" value={{data.id_urgence}} />
                            <div class="flex">
                                <p> modification : </p>
                                <div class="barre">
                                    <input type="text" name="newUrgence" class="inputText"/> 
                                    <hr />
                                </div>
                            </div>
                            <div class="flex">
                                <button type="submit"><img src="/img/icons8-edit-file-100.png" class="logoImg" alt="de" /></button>    
                            </div>
                        </form>
                    </div>
                    <form action="" method="post">
                        <input type="text" hidden name="method" value="delete" />
                        <input type="text" hidden name="idUrgence" value={{data.id_urgence}} />
                        <div class="flex">
                            <button type="submit"><img src="/img/icons8-multiply-100.png" class="logoImg" alt="de" /></button>    
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

