{% extends "base.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/planningPerso.css" />
{% endblock %}

{% block body %}
<div class="header">
    <a href="planningGeneral.php" class="back">
        <img src="../img/arrowBack.png" alt="szsz" />
    </a>
    <div class="logo">
        <img src="../img/logo-transparent-png.png" class="logoImg" alt="de" />
        <p>AccordEnergie</p>
    </div>
    <div class="date">
        <img src="../img/arrow-left-solid 1.png" alt="" srcset="" id="leftArrow" />
        <div class="text">
            <p id="semaineActuel"> Semaine {{ semaineActuel }} </p>
        </div>
        <img src="../img/arrow-right-solid 1.png" alt="" srcset="" id="rightArrow" />
    </div>
    <a href="profile.php">
        <img src="../img/userImg.png" alt="de" />
    </a>
</div>
<div class="container">
    <h1> Mon Planning </h1>
    {% set mois = {
        '01': 'Janvier', '02': 'Février', '03': 'Mars', '04': 'Avril',
        '05': 'Mai', '06': 'Juin', '07': 'Juillet', '08': 'Août',
        '09': 'Septembre', '10': 'Octobre', '11': 'Novembre', '12': 'Décembre'
    } %}
    {% for jour in datesSemaine %}
        {% set services = servicesIntervenant[jour['date']] %}
        {% if services %}   
            {% set jourMois = jour.date|date("m", "Europe/Paris") %}
            <h2>{{ jour.jour }} {{ jour.date|date("d", "Europe/Paris") }} {{ mois[jourMois] }} {{ jour.date|date("Y", "Europe/Paris") }}</h2>
            <div class="service"> 
                {% for service in services %}
                    <form action='message.php' method="POST" class="card" style="cursor: pointer;">
                        <input type="hidden"  name="id_service" value="{{service['id_service']}}">
                        <div class="row">
                            <p> Service : {{ service['nomService'] }}</p>
                            <div class="status {% if service['id_status'] == 1 %}red{% elseif service['id_status'] == 2 %}orange{% elseif service['id_status'] == 3 %}green{% endif %}"></div>
                        </div>
                        <div class="row">
                            <p> Client : {{ clients[service['id_client']][0]['nom'] }} {{ clients[service['id_client']][0]['prenom'] }}</p>
                        </div>
                        <div class="row">
                            <p> {{ service['heureDebut'] }}</p>
                            <p> {{ service['heureFin'] }} </p>
                        </div>
                        <div class="row">
                            <p> {{ service['dateIntervention'] }} </p>
                            {% for urgence in urgences %}
                                {% if urgence['id_urgence'] == service['id_urgence'] %}
                                  {{ urgence['nomUrgence'] }}
                                {% endif %}
                            {% endfor %}
                        </div>  
                        <button type="submit" hidden></button>                    
                    </form>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var forms = document.querySelectorAll(".card");
        forms.forEach(function(form) {
            form.addEventListener("click", function() {
                this.querySelector('button[type="submit"]').click();
            });
        });

        var leftArrow = document.querySelector("#leftArrow");
        var rightArrow = document.querySelector("#rightArrow");
        var semaineActuelle = parseInt("{{ semaineActuel }}");
        leftArrow.addEventListener("click", function() {
            changerSemaine(-1); 
        });
        rightArrow.addEventListener("click", function() {
            changerSemaine(1); 
        });

        function changerSemaine(offset) {
            var nouvelleSemaine = semaineActuelle + offset;
            if (nouvelleSemaine >= 1 && nouvelleSemaine <= 54) {
                semaineActuelle = nouvelleSemaine; 
                window.location.href = window.location.pathname + "?semaine=" + semaineActuelle;
            }
        }

    });
</script>
{% endblock %}
